//
// Created by Andrea Montorio
// Project Crucible
// Copyright © 2020
//

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

html {
  background-color: black;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

body {
  background-color: var(--color-bkg-primary);
  color: var(--text-color);
}

html,
body,
#app-root {
  height: 100%;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.acrylic {
  /* Color/tint overlay + Opacity */
  background: rgba(0, 0, 0, 0.5);
  /* Parent background + Gaussian blur */
  backdrop-filter: blur(10px);
  /* Exclusion blend */
  background-blend-mode: exclusion;
}

.scroller {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
  }
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  scrollbar-width: thin;
}