.Selector {
  display: inline-flex;
  border: 1px solid var(--widget-border-color);
  border-radius: var(--widget-border-radius-m);
  gap: .125rem;
  line-height: 1rem;
  overflow: hidden;
  padding: .125rem;
  label {
    flex: 1 1 0;
    user-select: none;
    white-space: nowrap;
    input {
      opacity: 0;
      position: absolute;
      &:checked ~ span {
        background-color: var(--widget-frg-color-accent);
        color: var(--widget-text-color-onaccent);
      }
    }
    > span {
      align-items: center;
      justify-content: center;
      border-radius: var(--widget-border-radius-s);
      color: var(--widget-text-color);
      display: flex;
      padding: .375rem .75rem;
      &:hover {
        background-color: var(--widget-bkg-color-hover);
      }
      span {
        color: currentColor;
        font-size: .75rem;
        line-height: .875rem;
        margin-left: .5rem;
      }
      svg,
      img {
        height: .875rem;
        width: .875rem;
      }
    }
  }
}