.FlipView {
  perspective: 600px;

  &__wrapper {
    position: relative;
    transform-style: preserve-3d;
    transition: transform var(--animation-normal) ease-in-out;
    will-change: transform;
  }

  &__front-face {
    backface-visibility: hidden;
    transform: rotateX(0deg);
  }
  &__back-face {
    backface-visibility: hidden;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateX(180deg);
  }

  &--flipped &--wrapper {
    transform: rotateX(180deg);
  }
  &--normal &--wrapper {
    transform: rotateX(0deg);
  }
}
