.Switch {
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 1em;
  width: 2em;

  &--normal {
    font-size: 1.25rem;
    svg,
    img {
      width: 0.6em;
      height: 0.6em;
    }
  }

  &--large {
    font-size: 1.5rem;
    svg,
    img {
      width: 0.583333333em;
      height: 0.583333333em;
    }
  }

  &--xlarge {
    font-size: 2rem;
    svg,
    img {
      width: 0.625em;
      height: 0.625em;
    }
  }

  input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    &:checked {
      ~ .Switch__track {
        background-color: var(--widget-bkg-color-accent);
      }
      ~ .Switch__slider {
        background-color: var(--widget-frg-color-accent);
        color: var(--widget-text-color-onaccent);
        transform: translateX(100%);
      }
    }
  }

  &__track {
    background-color: var(--widget-bkg-color);
    border-radius: var(--widget-border-radius-m);
    bottom: 0.125em;
    left: 0.125em;
    position: absolute;
    right: 0.125em;
    top: 0.125em;
    transition: background-color var(--animation-normal)
      var(--animation-timing-ease-in-out);
    will-change: background-color;
  }

  &__slider {
    align-items: center;
    display: flex;
    background-color: var(--widget-frg-color);
    border-radius: var(--widget-border-radius-m);
    box-shadow: var(--widget-shadow);
    color: var(--widget-text-color);
    height: 1em;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0px;
    transition-property: background-color, color, transform;
    transition-duration: var(--animation-normal);
    transition-timing-function: var(--animation-timing-ease-in-out);
    width: 1em;
    will-change: background-color, color, transform;
  }
}
