@use "values/shadows";

:root {
  --animation-time-unit: 0.1s;
  --animation-fast: 0.1s;
  --animation-normal: 0.2s;
  --animation-slow: 0.4s;
  --button-animation-duration: var(--animation-fast);

  --animation-timing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 8px;
  --border-radius-xl: 16px;
  --border-radius-max: 50%;
  --avatar-border-radius: 50%;
  --button-border-radius: var(--border-radius-m);
  --card-border-radius: var(--border-radius-l);
  --widget-border-radius-s: var(--border-radius-s);
  --widget-border-radius-m: var(--border-radius-m);

  @include shadows.vars;
  --avatar-shadow: var(--elevation-4);
  --solid-button-shadow: var(--elevation-1);
  --fab-button-shadow: var(--elevation-6);
  --card-shadow: var(--elevation-1);

  --shadow-content: var(--elevation-8);
  --shadow-fab: var(--elevation-6);
  --shadow-modal: var(--elevation-8);
  --widget-shadow: var(--elevation-1);
  --widget-shadow-hover: var(--elevation-2);


  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.acrylic {
  /* Color/tint overlay + Opacity */
  background: rgba(0, 0, 0, 0.5);
  /* Parent background + Gaussian blur */
  backdrop-filter: blur(10px);
  /* Exclusion blend */
  background-blend-mode: exclusion;
}
