.DraggablePage {
  > .Card {
    position: relative;
    height: 600px;
    overflow: hidden;
  }

  .Card {
    padding: 3rem 5rem;
  }
  .Draggable:first-child {
    position: absolute;
    left: 3rem;
    top: 3rem;
  }
  .Draggable:last-child {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
  }
}