@mixin light {
  // COLORS
  --switch-slider-bkg-color: var(--widget-frg-color);
  --switch-slider-bkg-color-checked: var(--widget-frg-color-accent);
  --switch-slider-icn-color: var(--widget-text-color);
  --switch-slider-icn-color-checked: var(--widget-text-color-onaccent);
  --switch-track-bkg-color: var(--widget-bkg-color);
  --switch-track-bkg-color-checked: var(--widget-bkg-color-accent);

  // BORDER RADII
  --switch-slider-border-radius: var(--border-radius-m);
  --switch-track-border-radius: var(--border-radius-m);

  // SHADOW
  --switch-slider-shadow: var(--elevation-1);

  // TRANSITION
  --switch-transition-duration: var(--transition-duration-normal);
}

@mixin dark {
  // COLORS
  --switch-slider-bkg-color: var(--widget-frg-color);
  --switch-slider-bkg-color-checked: var(--widget-frg-color-accent);
  --switch-slider-icn-color: var(--widget-text-color);
  --switch-slider-icn-color-checked: var(--widget-text-color-onaccent);
  --switch-track-bkg-color: var(--widget-bkg-color);
  --switch-track-bkg-color-checked: var(--widget-bkg-color-accent);

  // BORDER RADII
  --switch-slider-border-radius: var(--border-radius-m);
  --switch-track-border-radius: var(--border-radius-m);

  // SHADOW
  --switch-slider-shadow: var(--elevation-1);

  // TRANSITION
  --switch-transition-duration: var(--transition-duration-normal);
}
