.Button {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.fab-group {
  border: 1px solid var(--text-color-secondary);
  border-radius: var(--border-radius-l);
  padding: 1rem;
  text-align: center;
}

.fab-group > .Button:not(:last-child) {
  margin-right: 2rem;
}