.ButtonPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px 16px 0;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    .Button {
      margin-top: 4px;
    }
    .Text {
      margin-bottom: 16px;
      font-weight: 500;
    }
    .FloatingActionButton {
      margin-top: 8px;
    }
  }
}