.FlipViewPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 32px;
  padding: 0;
  .Image {
    vertical-align: bottom;
  }
  .FlipView:last-of-type {
    margin-top: 3rem;
  }
}