.FlipViewPage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 0;
  > div {
    padding: 32px;
    text-align: center;
  }
  .Image {
    vertical-align: bottom;
    width: 480px;
    height: 270px;
  }
  .Button {
    margin-top: 16px;
  }
}