.CheckboxPage {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

  .Card {
    margin: 64px;
  }

  .Text {
    font-size: 1.25rem;
  }
}
