.CheckBoxPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  .container {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

  .h1 {
    align-self: center;
    font-size: 1.25rem;
    margin-bottom: 16px;
    white-space: nowrap;
  }

  @media (max-width: 767px) {
    .container {
      padding: 16px;
    }
  }
}
