/* GLOBALS */
.split-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

hr {
  border: none;
  height: 1rem;
}

.divider {
  background-color: var(--luna-border-color);
  border: none;
  height: 1px;
  margin: 0;
  width: 100%;
}

section.theme-light,
section.theme-dark {
  overflow-y: auto;
  padding: 3rem;
  position: relative;
}

/* APP */
.App {
  display: flex;
  height: 100vh;

  &-side-bar {
    align-items: stretch;
    background-color: hsl(208, 19%, 19%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
  }

  &-title-bar {
    text-align: center;
    padding-bottom: 3rem;
    .Text {
      font-size: 2rem;
    }
    .Image {
      height: 128px;
      width: 128px;
    }
  }

  .nav-link {
    border-radius: var(--luna-border-radius-l);
    margin: 8px 40px 8px 16px;
    padding: 8px 16px;
    color: rgba(255 255 255 / 80%);
    font-size: 14px;
    user-select: none;
    &:hover:not(.nav-link-selected) {
      background-color: hsl(208, 19%, 17%);
    }
    &-selected {
      background-color: hsl(208, 19%, 15%);
    }
  }

  &-content {
    flex: 1;
    overflow-y: auto;
  }
}

/* BUTTONS SECTION */
.ButtonExample .fab-group {
  padding: 1rem;
  line-height: 66px;
  text-align: center;
}

/* CHECKBOXES SECTION*/
.CheckBoxExample {
  section {
    box-sizing: border-box;
    height: 100vh;
    > div:not(:first-child) {
      margin-top: 8px;
    }
  }
}

/*  */

/* DRAG TEST */
section.DraggableExample {
  height: 100%;
  padding: 0;
}
.DraggableExample .Card {
  padding: 3rem 5rem;
}
.DraggableExample .Draggable:first-child {
  position: absolute;
  left: 3rem;
  top: 3rem;
}
.DraggableExample .Draggable:last-child {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

/* FLIP EXAMPLE */
section.FlipExample {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 32px;
  padding: 0;
}
.FlipExample .Image {
  vertical-align: bottom;
}
.FlipExample .FlipView:last-of-type {
  margin-top: 3rem;
}

/* SELECTOR EXAMPLE */
.SegmentedControlExample {
  height: 100%;
  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .Card {
    padding: 40px;
  }
}

/* LOADERS EXAMPLE */
.LoadersExample {
  height: 100%;
}
.LoadersExample section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* MODAL EXAMPLE */
.ModalExample {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
