.App {
  &-title-bar {
    box-shadow: var(--luna-elevation-8);
    padding: 16px 32px;
    background-color: var(--luna-accent-bkg-color-sec);
    color: var(--luna-text-color-inverse);
    font-weight: 300;
  }
  &-content {
    padding: 48px;
  }
}