@import-normalize;
@import "lib/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.theme-light {
  background-color:hsl(216, 8%, 96%);
  color: var(--text-color);
}
.theme-dark {
  background-color: hsl(210, 8%, 10%);
  color: var(--text-color);
}

#modal-root {
  position: relative;
  z-index: 999;
}