@use "./minireset.scss";
@use "lib/index.scss";
@use "lib/theme.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.h-spacer {
  width: 16px;
}
.v-spacer {
  height: 16px;
}

.theme-light {
  --side-bar-bkg-color: #E2E4E6;
  --modal-bkg: #E2E4E6;

  background-color:hsl(216, 8%, 96%);
  color: var(--luna-text-color);
}
.theme-dark {
  --side-bar-bkg-color: #2A2C2F;
  --modal-bkg: #2A2C2F;

  background-color: hsl(210, 8%, 10%);
  color: var(--luna-text-color);
}

#modal-root {
  position: relative;
  z-index: 999;
}